# --- Directorios de Compilación y Temporales ---
build/
temp/
tmp/

# --- Archivos de Sistema y Editores ---
.DS_Store
Thumbs.db

# Archivos temporales de editores de texto
.vscode/
.idea/
*.swp
*~

# --- Archivos generados ---
# Logs de errores si tu script redirige salidas
*.log
install.log

# --- Seguridad ---
.bash_history
.ssh/
keys/
